@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* NAVIGATION BAR */
a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
}

header {
  height: 15vh;
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 30px;
  color: gray;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgb(67, 99, 242);
}

nav a {
  height: 5vh;
  line-height: 5vh;
  color: white;
  padding: 0 30px;
}

nav a:hover {
  background-color: white;
  color: black;
}

/* NAVIGATION BAR */

#wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column: 50px;
  margin-top: 20px;
  color: #7c7c7c;
  font-weight: lighter;
  min-height: 71vh;
}

.widget-box {
  margin-bottom: 15px;
}

.widget-box .title {
  background-color: #5681e5;
  color: white;
  padding: 5px;
}

.widget-box p,
.widget-box ul li {
  border-bottom: 0.5px solid grey;
  border-left: 0.5px solid grey;
  border-right: 0.5px solid grey;
}

.widget-box p {
  padding: 10px;
}

.widget-box ul li {
  padding: 5px 10px;
}

/* FOOTER */
footer {
  background-color: rgb(98, 94, 94);
  color: white;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
/* FOOTER */
